/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : Jul 12, 2020, 12:09:11 AM
    Author     : Jesus Dicent
*/


body{
    background-color: #ECF3FD;
}
.container{
    width: 550px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    font-size: 85%;
}
.ui-state-default .icon-login{
    background-image: url(../img/login.png)
}